.container {
  margin-left: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 100px;
}

.item:nth-child(17) {
  grid-column: span 2;
  grid-row: 5;
  width: 85px;
  border-radius: 50px;
}
.item {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: #2a2b2b;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}

.item:hover {
  cursor: pointer;
}

.right {
  font-size: 150%;
  background-color: orange;
}

.top {
  background-color: grey;
}
